*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  background-color: rgb(48, 46, 46);
      font-family: 'Montserrat', sans-serif;
}



/* Hamburger Button Container */

.ham-hidden{
 display: none;
}

.hamburger-button {
 width: 45px;
 height: 25px;
 background-color: none;

 flex-direction: column;
 
 position: absolute;
 top: 0;
 left: 5px;
 margin: 3rem;

 
}

/* HAMBURGER BAR */

 .bar{
  height: 4px;
  background-color: black;
  width: 100%;
  display: block;
  border-radius: 20px;
  
  
 }


 /* NAVBAR */
 .navbar {
  
  width: 100%;
  height: 100px;
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 12px 5px rgba(71, 70, 73, 0.2);
  z-index: 2;

 }

 .navbar img{
   position: relative;
   bottom: 190px;
 }
 
 

/* HAMBURGER BARS */
 .bar::after{
  content:'';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 20px;
  background: inherit;
  border-radius: 20px;
  
 }

 .bar::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: -20px;
  background: inherit;
   border-radius: 20px;
 }


 /* MENU */


 
 .menu-hidden{
  display: none;
 }
 

.menu-title{

 background-color: rgb(46, 45, 45);
 width: 400px;
 height: 200px;
text-align: center;
padding-top: 1rem;
animation: OpacityIn;
animation-duration: 3s;
animation-iteration-count: initial;
font-size: 2rem;

}

.menu-title h1 {
color: white;
}

 .menu {
   position: absolute;
  height: 100vh;
  width: 500px;
  background-color: rgb(240, 237, 237);
  animation: OpacityIn;
animation-duration: 3s;
animation-iteration-count: initial;
z-index: 1;

 }

 .menu ul li {
  padding: 2rem 1rem 1rem 2rem;
  text-align: left;
  position: relative;
  font-size: 1.5rem;
  list-style-type: none;
  color: rgb(121, 118, 118);
  z-index: 1;
  border-bottom: 2px solid rgba(77, 175, 255, 0.3);
  width: 400px;
   
  

 
 }

 .menu ul li a {
   text-decoration: none;
   color: black;
 }


 .menu ul li:hover {

   animation: MyGlowAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
 }

 .menu ul li:hover::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 200px;
  width: 40px;
  height: 20px;
  background-color: rgb(123, 182, 250);
  animation: MyAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
 }


 .menu-title a {
  text-decoration: none;
  color: black;
  
 }

 /* BIOGRAPHY SECTION */

 .background-image {
  background-image: url(./images/croppedone.jpg);
  height: 300px;
  
background-size: contain;
background-repeat: no-repeat;
background-attachment: fixed;
width: 100%;

 }

 #self-portrait {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 50px;
  

  
 
 }

 #self-portrait p {
  font-weight: bold;
  width: 50%;
 }

.bio-container {
 color: white;
 padding: 2rem 5rem;

}

.bio-container h1 {
 text-align: center;
 padding-bottom: 5rem;
 position: relative;
 padding-top: 2rem;
 text-transform: uppercase;
 font-size: 5rem;
 font-family: 'Montserrat Subrayada', sans-serif;;


}

.bio-container p {
 line-height: 2;
 max-width: 800px;
margin: 0 auto;
}

.bio-container h1::before {
 content: '';
 position: absolute;
 width: 4px;
 height: 30%;
 background-color: aqua;
 animation: hoverAnimation 1s ease-out infinite;
 

}

.bio-container h1::after {
 content: '';
 position: absolute;
 width: 4px;
 height: 30% ;
  background-color: aqua;
  animation: hoverAnimationTwo 1s ease-in-out infinite;

}







/* social nav bar */




.social-links-navbar-2 i {
  color: rgb(146, 146, 206);
}
.social-links-navbar{
  background-color: white;
  
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  
  position: absolute;
bottom: 0;
right: 0;
  width: 100%;
  

}

.social-links-navbar i {
  color: rgb(146, 146, 206);
}

.social-links-navbar-2 i:hover {
  animation: socialAnimation;
  animation-iteration-count: infinite;
  animation-duration: .2s;
}

.social-links-navbar-2{
  position: relative;
  background-color: white;
  
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  color: white;
  
bottom: 0;
right: 0;
  width: 100%;
  
}


.social-links-navbar-3{
  position: relative;
  background-color: white;
  
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  color: white;
  
bottom: 0;
right: 0;
  width: 100%;
  
}

.social-links-navbar i:hover {
  animation: socialAnimation;
  animation-iteration-count: infinite;
  animation-duration: .2s;
}





 /*  ANIMATIONS */

 
 @keyframes MyAnimation {  
 0%{
  transform:translateX(0px)
 }

 50%{
  transform: translateX(50px);
 }

 100%{
  transform: translateX(-30px);
 }


}

@keyframes MyGlowAnimation {

 0%{
  text-shadow: 0px 0px 0px 0px;
 }

 100%{
  text-shadow: 0px -8px 3px rgb(146, 146, 255);
 }
}


@keyframes OpacityIn {

 from{
  opacity: 0;
 }

 to{
  opacity: 1;
 }
}


@keyframes socialAnimation {

  0%{
    text-shadow: 0 0 0 rgb(25, 116, 221);
  }

100%{
  text-shadow: 0px -5px 5px rgb(83, 161, 250);;
}
}



@keyframes hoverAnimation {

 0%{
  transform: translateX(0);
 }
 50%{
  transform: translateY(30px);
 }
 100%{
  transform: translateX(0px);
 }
}

@keyframes hoverAnimationTwo {

 0%{
  transform: translateX(0);
 }
 50%{
  transform: translateY(-30px);
 }
 100%{
  transform: translateX(0px);
 }
}


/* VIDEOS PAGE STYLES */


.music-background-image {
 background: url(images/croppedtwo.jpg);

height: 300px;
background-position: center;

background-size: cover;
border-bottom: 5px dotted white;

}

.music-title {
  color: white;
  text-align: center;
}

.music-title  {
  padding: 4rem 0;
}

.song-title {
  margin: 1rem 0;
  font-size: .8rem;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 3rem;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

/* MUSIC PAGE STYLES */

.music-title-two {
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 0;
}

.playlist {
  margin: 4rem 0;
}

.playlist iframe {
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgb(133, 236, 133);
}

.releases-section {

  padding-top: 2;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 1rem;
  justify-items: center;
  align-items: center;

   background-color: white;
   height: 50vh;
  

   
}

.releases-item {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  

}

.releases-item button {
  width: 250px;
  font-size: 1.5rem;
  border: none;
  background-color: black;
  border-radius: 5px;
  padding: 1rem 0;
  font-weight: bold;
  
  margin: 5px auto;
}

.releases-item button a {
  text-decoration: none;
  color: white;
 
}

.releases-item .spotify-button {
  color: rgb(72, 224, 72);
}

.releases-item .apple-button {
  color: rgb(252, 54, 87);
}

.releases-item h4 {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  
  
}

.releases-item img {
  margin-bottom: 2rem;
}


.releases-title {
text-align: center;
background-color: white;
padding: 1rem 0 1rem;
margin: 0;
font-family: 'Montserrat Subrayada', sans-serif;
}

.sound-cloud {
  margin: 4rem 0;
 color: white;
  text-align: center;
}

.sound-cloud a {
  color: white;
}


/* photo Styles */

.photo-container {
  display: flex;
  flex-direction: column;

  
}

.photo-item img {
  width: 100vw;
}


/* PHOTO CONTAINER PROPERTIES */

.gallery-container {
  max-width: 1600px;
  padding: 50px 20px;
  margin: 0 auto;
}

.gallery-container h1 {
  color: white;
  text-align: center;
  margin: 6rem 0;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 20px;
}


.galleryImg {
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: transform 250ms;
  cursor: pointer;
}

.galleryImg:hover {
  transform: translateY(-3px);
  box-shadow: 1px 1px 5px grey;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.95); */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
  margin-top: 2rem;
}

#selectedImage {
  max-height: 100%;
}

/* PRINT COMMERCIAL WORK */

.print-title {
  color: white;
  text-align: center;
  padding-top: 3rem;
}

.video-container {
  color: white;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
}

.video-container h1 {
  font-size: .8rem;
  padding: 2rem 0;
}

video {
  border-radius: 15px;
}

.print-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.print-gallery img {
  border-radius: 5px;
}

.print-gallery .print-title {
  font-size: .8rem;
  margin: 2rem 0;
}

.print-image img {
  width: 300px;
  margin: 1rem 0;
 
}

.print-gallery-two {
 display: flex;
 flex-direction: column;
 align-items: center;


}

.print-gallery-two h4{
  color: white;
  text-align: center;
  padding: 1rem;
}

.print-gallery-two img {
  margin-bottom: 1rem;
  border-radius: 5px;
}


/* MEDIA */



@media(max-width:836px) {


  .releases-section {

  padding-top: 2;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   grid-gap: 1rem;
  justify-items: center;

   background-color: white;
   height: 100%;
  
  

   
}

.releases-item h4 {
  padding: 1rem 0;
}

.releases-item{
  margin-top: 0rem;
  /* overflow: hidden; */
}

.releases-item img {
  height: 190px;
}

  .menu{
width: 200px;
  }

.menu-title{
  width: 200px;
}

.menu ul li {
  width: 20px;
}

  .navbar{
    width: 100%;
  }

  .navbar img {
    width: 250px;
bottom: 30px;
left: 90px;

  }


  .bio-container h1{
    font-size: 1rem;
  }

}